

.pokerform {
    border: 2px solid black;
    margin: 100px;
    width: 1100px;
}


.poker_situation {

}

.Name_and_Position {
    margin-bottom: 4px;
}


.cards {
    float:right;
    width: 30%;
    height: 100%;
    padding: 50px;
}

.poker_situation .cards input {

    font-family: monospace;
    font-size: 170%;

    width: 250px;

}


.player_action {
    clear: both;
    width: 100%;
    display: flex;
}


.player_action .flex_item {
    flex-grow: 1;
    padding: 2px;
    position: relative;
}

.player_action input {
    width: 100%;
    background-color: red;
    color: white;
    font-size: 300%;
    padding: 12px;
    margin:2px;
    border:0px solid white;

    box-shadow: 0px;
}

.player_action input:hover {
    box-shadow: 0px 0px 5px 3px black;
}


.poker_situation input {
    display: inline-block;
    margin: 3px;
    width: 100px;

}

.poker_situation input:hover {
    box-shadow: 1px 1px 5px 5px black;

}
.poker_situation label {
    display: inline-block;
    width: 150px;

}
